@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/* 전체 */
body{
    background-color: whitesmoke;

    font-family: 'Poor Story', cursive;
}

/* 헤더 */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    padding: 2rem;

    background-color: rgb(61, 139, 179);
}

.header__title{
    font-size: 2rem;
    font-weight: bold;

    color: whitesmoke;
}

.header__icon{
    width: 2rem;
}

/* 메인 */
main{
    display: flex;
}

/* 네브 */
.nav{
    width: 10rem;
    height: 13.5rem;
    margin: 1rem 0 0 1rem;
    padding: 1rem;

    border-radius: 1rem;
   
    background-color: rgb(61, 139, 179);

    font-size: 1.2rem;
}

.nav__header{
    font-size: bold;
    color: whitesmoke;
}

.nav__tag{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 9rem;
    height: 1.5rem;

    margin-top: 0.5rem;
    padding: 0.5rem;

    border-radius: 3rem;

    background-color: whitesmoke;
}

/* 카드섹션 */
