@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

/* 전체 */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: whitesmoke;

  font-family: 'Poor Story', cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 50rem;
  height: 40rem;
  margin-top: 4rem;

  border-radius: 1rem;
  background-color: rgb(61, 139, 179);
}

input {
  cursor: pointer;
}

/* 카드 */
.header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;
  padding: 2rem;
}

.header__title {
  font-size: 2rem;
  font-weight: bold;

  color: whitesmoke;
}

.form__section {
  width: 40rem;
  height: 40rem;

  padding: 1rem;
  margin-bottom: 2rem;

  background-color: whitesmoke;
  border-radius: 1rem;
}

/* 카드 안 */
.form__info {
  display: flex;
  justify-content: space-between;

  margin: 0.5rem 0;
  width: 100%;
}

.form__info__header {
  font-size: 1.2rem;
  font-weight: bold;

  color: rgb(61, 139, 179);
}

.form__info__button {
  margin-left: 17rem;
}

.input {
  width: 0.1rem;
  visibility: hidden;
}

/* 사진 미리보기 */
.form__info__img--container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30rem;
  height: 20rem;
  margin: -2rem 0 0 5rem;

  background-color: gray;
}

.form__info__img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30rem;
  height: 20rem;
}

.form__info__img--add-img {
  display: flex;

  position: absolute;
  margin: 5rem 0 0 16rem;

  cursor: pointer;
}

#form__info__img {
  visibility: hidden;
  width: 1rem;
}

/* 푸터 */
footer {
  margin-top: 1.5rem;
}
